.header h1 {
	font-size: 36px;
	font-style: bold;
	margin: 2px;
}

.header p {
	display: block;
	font-style: italic;
	font-size: 12px;
	margin: 2px;
}

.header img {
	display: inline;
	width: 80px;
	height: 80px;
	right: 80px;
}

.summary h2 {
	font-size: 16px;
	font-style: bold;
	margin: 2px;
	border-width: thin;
	border-bottom: solid black;	
	border-top: solid black;
}

.summary li {
	font-size: 12px;
	margin-right: auto;
	padding-left: 14px;
	margin: 2px;
}

.experience h2 {
	font-size: 16px;
	font-style: bold;
	margin: 2px;
	border-bottom-width: thin;
	border-bottom: solid black;	
}

.experience h3 {
	font-size: 14px;
	font-style: bold;
	padding-left: 8px;
	margin: 2px;
}

.experience p {
	font-size: 12px;
	font-style: italic;
	padding-left: 10px;
	margin: 2px;
}

.experience li {
	font-size: 12px;
	margin-right: auto;
	padding-left: 14px;
	margin: 2px;
}

.education h2 {
	font-size: 16px;
	font-style: bold;
	margin: 2px;
	border-bottom-width: thin;
	border-bottom: solid black;		
}

.education h3 {
	font-size: 14px;
	font-style: italic;
	padding-left: 8px;
	margin: 2px;
}

.education li {
	font-size: 12px;
	margin-right: auto;
	padding-left: 14px;
	margin: 2px;

}

.honors h2 {
	font-size: 16px;
	font-style: bold;
	margin: 2px;
	border-bottom-width: thin;
	border-bottom: solid black;
	border-top: solid black;	
}

.honors li {
	font-size: 12px;
	margin-right: auto;
	padding-left: 14px;
	margin: 2px;